<app-nav-admin></app-nav-admin>
<section>
    <div class="cla_em">
        <p class="nom_em"><span>PSE</span>TIME / Groupe</p>
    </div>

    <div class="cla_em ftr">
        <h2>Nom du Groupe</h2>
        <div class="col-md-4 coltext txtr">
            <p>Heure D'arrivée :<b> 09 h 00</b></p>
            <p>Heure De Depart :<b> 18 h 00</b></p>
            <p>Temps à éffectué :<b> 09 h</b></p>
        </div>
        <div class="col-md-4 coltext" style="">
            <p>Debut de Congés :<b> mar. 10 Août 2021</b></p>
            <p>Fin de Congés : <b>Ven. 13 Août 2021</b></p>
            <p>Type de congé :<b> Congé annuel</b></p>
        </div>      

    </div>


</section>