$b1: rgb(27, 158, 245);
$fontbouton: 'Times New Roman', Times, serif;
$sizebouton: 18px;
$hauteurbout: 45px;
$largeurin: 200px;
section{
    width: 77%;
    display: inline-block;
    float: right;
    font-family: $fontbouton;
    .cla_em{
        background-color: white;
        margin: 30px 30px 0 30px;
        padding: 0 20px;
        border-radius: 10px;
        .nom_em{
            font-size: 25px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 10px;
            span{
                font-weight: bold;
                font-family: $fontbouton;
                color: $b1;
            }
        }
        .txtr{
            padding: 30px 30px 30px 30px;

        }
        .coltext{
            display: inline-block;
            font-family: $fontbouton;
            font-size: $sizebouton;
            p{
                padding-top: 5px;
            }
        }
        h2{
            font-weight: bold;
            font-family: $fontbouton;
            font-size: 30px;
            padding-top: 20px;
            margin-bottom: -10px;
        }
        
    }
    .ftr{        
       text-align: center;
    }
}

 
