<app-nav-admin></app-nav-admin>
<section>
    <div class="cla_em">
        <p class="nom_em"><span>PSE</span>TIME / Jour Ferier</p>
    </div>

    
    <table class="table table-hover c1">
        <thead class="table-info">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Titre</th>
              <th scope="col">Date</th>
              <th scope="col">Jour</th>
            </tr>
          </thead>
          <tbody class="table-light">
            <tr>
              <th scope="row">1</th>
              <td>Nouvel an</td>
              <td>1er janvier 2021</td>
              <td>Mardi</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Noel</td>
              <td>25 decembre 2021</td>
              <td>lundi</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>tabaski</td>
              <td>10 janvier 2021</td>
              <td>jeudi</td>
            </tr>
          </tbody>
    </table>
</section>
