<app-nav-admin></app-nav-admin>
<section>
    <div class="cla_em">
        <p class="nom_em"><span>PSE</span>TIME / Groupe</p>
    </div>
    <button class="cl1 b1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter Groupe</button>
    <!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="modal-title">Créer un Groupe</p>
        <form>
          <div class="div-modal col-md-6">
            <label for="validationCustom01" class="form-label">Nom du groupe</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="div-modal col-md-6">
            <label for="validationCustom01" class="form-label">Heure d'arrivée</label>
            <input type="time" class="form-control" required>
          </div>
          <div class="div-modal col-md-6">
            <label for="validationCustom01" class="form-label">Heure de depart</label>
            <input type="time" class="form-control" required>
          </div>
          <div class="div-modal col-md-6">
            <label for="validationCustom01" class="form-label">Date de Debut de Congés</label>
            <input type="date" class="form-control" required>
          </div>
          <div class="div-modal col-md-6">
            <label for="validationCustom01" class="form-label">Date de fin de Congés</label>
            <input type="date" class="form-control" required>
          </div>
          <div class="div-modal col-md-6">
            <label class="form-label">Type de conges</label>
            <input class="form-control" list="datalist" placeholder="Poste" required>
                <datalist id="datalist">
                  <option value="Maladie">
                  <option value="Annuel">
                  <option value="Deuil">
                </datalist>
          </div>
          <button type="button" class="btn btn-primary ajt">Ajouter</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <table class="table table-hover c1">
        <thead class="table-info">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nom du Groupe</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="table-light">
            <tr>
              <th scope="row">1</th>
              <td data-bs-toggle="modal" data-bs-target="#exampleMod">Mark</td>
              <td>...</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td data-bs-toggle="modal" data-bs-target="#exampleMod">Jacob</td>
              <td>...</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td data-bs-toggle="modal" data-bs-target="#exampleMod">Larry the Bird</td>
              <td>...</td>
            </tr>
          </tbody>
    </table>

    <div class="modal fade" id="exampleMod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="modal-title">Nom du Groupe</p>
    
            <div class="cla_em">
              <div class="col-md-6 coltext txtr">
                <p>NOM ET PRENOM</p>
                <p>Fonction en entreprise</p>
                <p>Telephone</p>
                <p>Identifiant de l'employé</p>
                <p>Date d'inscription</p>
              </div>
              <div class="col-md-6 coltext pts">
                <p>Numero de telephone</p>
                <p>E-mail</p>
                <p>Date de naissance</p>
            </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</section>