<section class="section"> 
    <form class="login-form" (ngSubmit)="onSubmit(formul)" #formul="ngForm">
        <h1>Se connecter</h1>
            <div class="form-group">
                <input type="text" placeholder="Nom d'utilisateur" class="form-control" name="name" ngModel required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Mot de passe" class="form-control" name="pass" ngModel required>
            </div>
            <div style="border: 1px solid rgb(146, 140, 140);"></div>
            <div style="margin-top: 20px;">
                <button class="btn" type="submit" [disabled]="formul.invalid" routerLink="groupe-admin">connexion</button>
                <a href="#">Mot de passe oublié</a>
            </div>              
    </form>
</section>
