<app-nav-admin></app-nav-admin>
<section>
    <div class="cla_em">
        <p class="nom_em"><span>PSE</span>TIME / Demande de Revendication</p>
    </div>
    <form class="demande">
        <div class="row">
            <label for="colFormLabelSm" class="col-sm-2">Objet de la demande <Span>*</Span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="colFormLabelSm">
            </div>
        </div>
        <div class="row">
            <label for="colFormLabel" class="col-sm-2">Date d'absence <Span>*</Span></label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="colFormLabel">
            </div>
        </div>
        <div class="row">
            <label for="colFormLabelLg" class="col-sm-2">Autres fichier</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" id="colFormLabelLg">
            </div>
        </div>
        <div class="row">
            <label for="colFormLabelLg" class="col-sm-2">Justification <Span>*</Span></label>
            <div class="col-sm-10">
              <textarea name="text" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
        <button class="cl1 b1 btn btn-primary">Soumettre</button>
    </form>

</section>