<app-nav-admin></app-nav-admin>
<section>
    <div class="cla_em">
        <p class="nom_em"><span>PSE</span>TIME / Congés</p>
    </div>
      <table class="table table-hover c1">
        <thead class="table-info">
            <tr>
              <th scope="col">Type de Congé</th>
              <th scope="col">Depart</th>
              <th scope="col">Fin</th>
              <th scope="col">Nbre de jour</th>
              <th scope="col">Raison</th>
              <th scope="col">Statut</th>
            </tr>
          </thead>
          <tbody class="table-light">
            <tr>
              <td>Type congé</td>
              <td>1er janvier 2022</td>
              <td>15 janvier 2022</td>
              <td>15</td>
              <td>Maladie</td>
              <td>En attente</td>
            </tr>
          
                <tr>                   
                    <td>Type congé</td>
                    <td>5 fevrier 2022</td>
                    <td>20 fevrier 2022</td>
                    <td>15</td>
                    <td>Maternité</td>
                    <td>Accepter</td>
                </tr>
                  <tr>                  
                    <td>Type congé</td>
                    <td>10 janvier 2022</td>
                    <td>22 janvier 2022</td>
                    <td>12</td>
                    <td>Absent non justifiée</td>
                    <td>Rejeter</td>
                  </tr>
          </tbody>
    </table>
</section>