$b1: rgb(27, 158, 245);
$fontbouton: 'Times New Roman', Times, serif;
$sizebouton: 18px;
$hauteurbout: 45px;
$largeurin: 200px;
section{
    width: 77%;
    display: inline-block;
    float: right;
    .cla_em{
        background-color: white;
        margin: 30px 30px 0 30px;
        padding: 0 20px;
        border-radius: 10px;
        .nom_em{
            font-size: 25px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 10px;
            span{
                font-weight: bold;
                font-family: $fontbouton;
                color: $b1;
            }
        }
        
    }
    .cla_em2{
        display: inline-block;
        background-color: white;
        width: 45%;
        margin: 30px 0;
        padding: 0 20px;
        border-radius: 10px;
        font-family: $fontbouton;
        font-size: $sizebouton;
        padding: 0 30px;
        img{
            width: 200px;
            margin-top: -100px;
        }
        div{
            display: inline-block;
            margin-top: 25px;
        }
        h2{
            font-family: $fontbouton;
            font-weight: bold;
            font-size: 25px;
            padding-top: 10px;
        }
    }
    .v2{
        margin-left: 30px;
    }
    .v1prime{
        position: relative;
        top: -20px;
        height: 160px;
    }
    .v1{
        margin-left: 30px;
        margin-top: -10px;
        text-align: center;
    }
    .clt{
        display: inline-block;
        position: relative;
        top: -20px;
        button{
            display: block;
            margin: 20px auto;
            width: 200px;
            color: white;
            font-weight: bold;
            font-family: $fontbouton;
            border-radius: 20px;
        }   
    }
    .modal{
        .modal-title{
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin-top: 10px;
            font-family: $fontbouton;
        }
        
    }
    .dfin{
        margin: 10px auto;
    }    
}